* {
        font-family: "Noto Sans";
        font-size: 14px;
}

#window {
        border: 2px solid;
}

#outer-box {
        padding: 10px;
}

#input {
        padding: 6px 10px;
}

#scroll {
        padding-top: 10px;
}

#inner-box {}

#img {
        padding-right: 8px;
}

#entry {
        padding: 6px;
        min-height: 24px;
}

#input,
#entry:selected {
        border-radius: 4px;
}
